 
         .gallery-container  
{ 
            position: relative; 
            max-width: 600px; 
            margin: auto; 
            background: rgb(255, 255, 255); 
            padding: 10px; 
            border-radius: 10px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
         } 
         .gallery-image  
{ 
            width: 100%; 
            height: 400px; 
            object-fit: cover; 
            border-radius: 10px; 
         } 
         .caption  
{ 
            margin-top: 30px; 
            font-size: 18px; 
         } 
         .gallery-buttons  
{ 
            display: flex; 
            justify-content: space-between; 
            margin-top: 20px; 
         } 
         button  
{ 
            padding: 10px 20px; 
            cursor: pointer; 
            border: none; 
            border-radius: 5px; 
            background-color: rgb(59, 59, 241); 
            color: rgb(255, 255, 255); 
            transition: 0.3s; 
         } 
     

         footer {
         text-align: center;
         padding: 10px;
         background: rgb(156, 156, 156);
         font-size: 14px;

}